.nameAndButton{
    display:flex;
    margin-left: 500px;
}
.divDetail{
    margin-left: 200px;
}
.buttonDetail{
    margin-left: 400px;
}
.containerDetail{
    display:flex;
    flex-direction: column;
    align-items: center;
    color:aqua;
}
.imgDetail{
    border-radius: 20px;
    width: 100%;
    height: 100%;
}

.infoContDetail{
    display: flex;
}
