.containerCard{
    background-color: blue;
    color:silver;
    border:silver solid 2px;
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    width: 350px;
    height: 400px;
    margin-left: 5px;
    margin-right: 15px;
    margin-top: 10px;
    
}
.link{
    color:silver;
}
.imgCard{
    border-radius: 10px;
    width: 340px;
    height: 170px;
    margin-left: 5px;
    margin-top: 5px;
}

.containerGenres{
    display:flex;
    color:silver;
    margin-left: 100px
}
