.LP{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.imgs1{
    display:flex;
    flex-wrap: wrap;
    flex-direction: ROW;
    margin-right: 50px;
}
.imgs2{
    display: flex;
}
.mario{
    margin-top: 20px;
}
.kratos{
    margin-right:50px ;
}
.linkLP{
    text-decoration: none;
    text-align: center;
}
.buttonLP{
    background-color: red;
    display:flex;
    border-radius: 10px;
    border: 2px solid silver;
    width: 1000px;
    height: 100px;
    color: silver;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 50px;

}
.rota-x{
    transform: scaleX(-1);
}
.start{
    display: flex;
}