.containerCards{
    display : flex;
    flex-wrap: wrap;
    justify-content: center;
}
.buttonsSB{
    display: flex;
    align-items: center;
    margin-left: 30px;
    color: silver;
}
.sep{
    margin-left: 5px;
}
.linkLPHome{
    margin-right: 30px;
}
.btnHome{
    background-color: white;
    color: black;
    border: silver solid 2px;
    cursor:pointer;
}
.create{
    background-color: white;
    color:black;
    border: 2px silver solid;
    cursor: pointer;
}
.loading{
    display:flex;
    justify-content: center;
    margin-top: 350px;
}